{% extends "templatesadmin/base.html" %}

{% load templatesadmin_tags %}
{% load i18n %}

{% block breadcumbs %}
	<a href="{% url templatesadmin-overview %}">{% trans "Home" %}</a> &rsaquo; 
	<a href="{% url templatesadmin-overview %}">{% trans "File selection" %}</a> &rsaquo; 
	{{ short_path }}
{% endblock %}

{% block main %}

	<h2>{{ template_path }}</h2>

<form enctype="multipart/form-data" action="" method="post" id="site_form">
	{{ form.errors }}	
	{{ form.content }}
	
	<div class="submit-row">
	{% if template_writeable %}
                {% for field in form %}
                    {% ifnotequal field.label "Content" %}
		        <p class="float-left">
		        	{{ field.label }} {{ field }}
		        </p>
                        {% if forloop.last %} <input type="submit" value="{% trans "Sichern" %}" class="default" /> {% endif %}
		        <br clear="both"/>
                    {% endifnotequal %}
                {% endfor %}
	{% else %}
		{% trans "This template is <strong>not writeable</strong>" %}
		<br clear="both"/>
	{% endif %}
	</div>
</form>
{% endblock %}

{% block extrastyle %}
textarea#id_content{
	width: 99%;
	height: 400px;
	margin: 1em 0;
	font-family: monospace;
}
{% endblock %}	
