{% extends "templatesadmin/base.html" %}

{% load i18n admin_modify adminmedia %}
{% load templatesadmin_tags %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
    <style type="text/css">
        textarea#id_content{
            width: 99%;
            height: 400px;
            margin: 0 0 1em 0;
            font-family: monospace;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url templatesadmin-overview %}">{% trans "Home" %}</a> &rsaquo;
    <a href="{% url templatesadmin-overview %}">{% trans "File selection" %}</a> &rsaquo;
    {{ template_path }}
</div>
{% endblock %}

{% block title %}
    {% trans "Edit Template:" %} {{ template_path|shortenfilepath }}
{% endblock %}

{% block content_title %}
    <h1>{% trans "Edit Template:" %} {{ template_path|shortenfilepath }}</h1>
{% endblock %}

{% block content %}
<div id="content-main">
    <form enctype="multipart/form-data" action="" method="post" id="site_form">
        {% csrf_token %}
        <div>
            {{ form.errors }}
            {{ form.content }}
        </div>
        <div class="submit-row">
        {% if template_writeable %}
            {% for field in form %}
                {% ifnotequal field.label "Content" %}
            <p class="float-left">
                {{ field.label }} {{ field }}
            </p>
                    {% if forloop.last %} <input type="submit" value="{% trans "Save" %}" class="default" /> {% endif %}
            <br clear="both"/>
                {% endifnotequal %}
            {% endfor %}
        {% else %}
            {% trans "This template is not writeable." %}
            <br clear="both"/>
        {% endif %}
        </div>
    </form>
</div>
{% endblock %}
